data/schema_definition/persons_dict.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="persons">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="num_persons" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="min_age" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="max_age" type="xs:integer" minOccurs="1" maxOccurs="1"/>
			<xs:element name="age_distribution" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" minOccurs="1" maxOccurs="1">
							<xs:simpleType>	
								<xs:restriction base="xs:string">
									<xs:enumeration value="normal"/>
									<xs:enumeration value="uniform"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>	
						<xs:element name="mean" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
						<xs:element name="sd" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="male_share" minOccurs="1" maxOccurs="1">
				<xs:simpleType>	
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0.0"/>
						<xs:maxInclusive value="1.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>	
			<xs:element name="speed_walk" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
			<xs:element name="speed_car" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
			<xs:element name="percent_home" minOccurs="1" maxOccurs="1">
				<xs:simpleType>	
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0.0"/>
						<xs:maxInclusive value="1.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>	
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>
