data/schema_definition/probabilities_dict.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="probabilities">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="prior" minOccurs="1" maxOccurs="1">
				<xs:simpleType>	
					<xs:restriction base="xs:string">
						<xs:enumeration value="uniform"/>
						<xs:enumeration value="network"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="prob_file_name_prefix" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>
