data/output_schema_definition/device.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="device_type">
	<xs:sequence>
		<xs:element name="devColName" type="xs:string" minOccurs="1" maxOccurs="1"/>
		<xs:element name="devID_value_type" minOccurs="1" maxOccurs="1">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="string"/>
					<xs:enumeration value="integer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
	</xs:sequence>
</xs:complexType>
							
</xs:schema>