data/output_schema_definition/file.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="file_type">
	<xs:sequence>
		<xs:element name="fileName" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
	</xs:sequence>
</xs:complexType>
							
</xs:schema>
